*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  overflow:hidden;
  box-sizing: border-box;
}
/*home page*/
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
.navigation ul li{
  display: inline-block;
  line-height: 60px;
  margin: 0 15px;
}
.navigation ul{
  float: right;
}
.navigation a{
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
 
}
.navigation a:hover{
  background-color: #2f4f4f;
  color: black;
}

footer{
  bottom: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
}
body.in{
  display: flex;

}
.body{
  padding:0;
  margin:0;
  font-family:sans-serif;
  overflow:hidden;
}
.banner1, .banner2,.banner3,.banner4{
  height: 657px;
  width:100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 200px;
}
.in img{
  width:120%;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  animation:zoom-out 3s linear infinite;
}
@keyframes zoom-out{
  100%{
    width: 100%;
  }
}
.text-box{
  width:600px;
  position:relative;
  top:200px;
  left:100px;
  color:#fff;
  background: rgba(0, 0, 0, 0.1);
  animation: textup 12s linear infinite;
  transform: translateY(100px);
}
.text-box h1{
  margin-bottom:10px;
}
.text-box p{
  font-size:14px;
  line-height:18px;
  margin-top:100px;
}
.text-box span{
  background:red;
  height:1px;
  width:100px;
  position:absolute;
  left:0;
}
.banner1{
  animation: slide1 12s linear infinite;
}
 .banner2{
  animation: slide2 12s linear infinite;
}
 .banner3{
  animation: slide3 12s linear infinite;
}
 .banner4{
  animation: slide4 12s linear infinite;
}
@keyframes slide1{
  0%{
    visibility:visible;
  }
  25%{
    visibility:hidden;
  }
  50%{
    visibility:hidden;
  }
  75%{
    visibility:hidden;
  }
  100%{
    visibility:visible;
  }
}
 @keyframes slide2{
  0%{
    visibility:hidden;
  }
  25%{
    visibility:hidden;
  }
  50%{
    visibility:visible;
  }
  75%{
    visibility:hidden;
  }
  100%{
    visibility:hidden;
  }
}
 @keyframes slide3{
  0%{
    visibility:hidden;
  }
  25%{
    visibility:hidden;
  }
  50%{
    visibility:hidden;
  }
  75%{
    visibility:visible;
  }
  100%{
    visibility:hidden;
  }
}
 @keyframes slide4{
  0%{
    visibility:hidden;
  }
  25%{
    visibility:hidden;
  }
  50%{
    visibility:hidden;
  }
  75%{
    visibility:hidden;
  }
  100%{
    visibility:visible;
  }
}
@keyframes textup{
  10%{
    transform: translateX(0px);
  }
  100%{
    transform: translateY(0px);
  }
}
.text-box1{
  animation-delay: 0s;
}
.text-box2{
  animation-delay: 3s;
}
.text-box3{
  animation-delay: 6s;
}
.text-box4{
  animation-delay: 9s;
}
/*cloth page*/
.na{
  top: 0;
  height: 80px;
  background-color: #2f4f4f;
}
.foot{
  bottom: 0;
  height: 100px;
  background-color: #2f4f4f;
}
.cloth{
  background: #8ca75e;
  height: 985px;
  margin: 0;
}
.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.img-wrapper{
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  padding: 20px;
}
.img-wrapper img{
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}
.img-wrapper .content{
  position: absolute;
  inset: 0;
  font-size: 2rem;
  padding: 1rem;
  background: rgba(255, 255, 255, .4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-wrapper img, .img-wrapper .content{
  transition: 200ms ease-in-out;
}
.img-wrapper .content{
  opacity: 0;
}
.img-wrapper:hover .content{
  opacity: 1;
}
.img-wrapper:hover img{
  filter: blur(3px);
  transform: scale(1.1);
}

/*second
.tr{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:rgb(9, 9, 78) ;
}
.slider{
  position: relative;
  width: 40%;
  overflow: hidden;
}
.images{
  display: flex;
  width: 100%;
}
.images img{
  height: 400px;
  width: 100%;
  transition: all 0.15s ease;
}
.images input{
  display: none;
}
.dots{
  display: flex;
  justify-content: center;
  margin: 5px;
}
.dots label{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: solid #fff 3px;
  cursor: pointer;
  transition: all 0.15s ease;
  margin: 5px;
}
.dots label:hover{background: #fff;}
#img1:checked ~ .m1{
  margin-left: 0;
}
#img2:checked ~ .m2{
  margin-left: -100%;
}
#img3:checked ~ .m3{
  margin-left: -200%;
}
#img4:checked ~ .m4{
  margin-left: -300%;
}*/




